{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  {% for post in posts %}
  <div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="{% static 'imgFile/stft_shape.png' %}" alt="..." /></a>
    <div class="card-body">
      <div class="small text-muted">{{ post.published_date }}</div>
      <h2 class="card-title h4">{{ post.title }}</h2>
      <p class="card-text">{{ post.text|linebreaksbr }}</p>
      <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Read more →</a>
    </div>
  {% endfor %}
  </div>
{% endblock %}
